


<h3>Settings</h3>

<% if @setting %>
  <%= link_to "Change", edit_setting_path %>
  <p>
    vk_app_id: <%= @setting.vk_app_id %>
  </p>
  <p>
    vk_app_secret: <%= @setting.vk_app_secret %>
  </p>
  <p>
    vk_api_version: <%= @setting.vk_api_version %>
  </p>
  <p>
    Параметры, которые получили от ВК во время авторизации:
  </p>
  <p>
    vk_access_token: <%= @setting.vk_access_token if !@setting.vk_access_token.nil? %>
  </p>
  <p>
    vk_token_expires_in: <%= @setting.vk_token_expires_in if !@setting.vk_token_expires_in.nil? %>
  </p>
  <p>
    vk_user_id: <%= @setting.vk_user_id if !@setting.vk_user_id.nil? %>
  </p>
  <p>
    Выбранное сообщество для настройки
  </p>
  <p>
    vk_community_selected_id: <%= @setting.vk_community_selected_id if !@setting.vk_community_selected_id.nil? %>
  </p>

<% else %>
  <%= link_to "New", new_setting_path %>
<% end %>
