


<h3>Settings</h3>

<% if @setting %>
  <%= link_to "Change", edit_setting_path %>
  <p>
    vk_app_id: <%= @setting.vk_app_id %>
  </p>
  <p>
    vk_app_secret: <%= @setting.vk_app_secret %>
  </p>
  <p>
    vk_api_version: <%= @setting.vk_api_version %>
  </p>
  <% if !@setting.vk_access_token.nil? %>
    <p>
      vk_access_token: <%= @setting.vk_access_token %>
    </p>
  <% end %>
<% else %>
  <%= link_to "New", new_setting_path %>
<% end %>
