
        <% if @setting %>
            <% if @setting.vk_access_token.blank?  %>
              <p>
                У нас нет токена пользователя для внесения изменений в VK, либо он невалиден.
                Необходимо авторизоваться. Процесс авторизации состоит из 1 шагов.
              </p>
              <p>
                ШАГ 1: Сначала редиректим на ВК для авторизации и запроса пермишенов:
              </p>
              <p>
                <code>
                  REQUEST: <br>
                  <%= @authorize_url %>
                </code>
              </p>

              <%= link_to "Авторизоваться в VK", @authorize_url, class: 'btn btn-primary' %>

              <hr>

              <% if params.has_key?(:code) %>
                <p>
                  ШАГ 2: В ответе получили <code><%= "code=#{params[:code]}" %></code>, он находится в URL. С его помощью мы завершаем процесс авторизации и получаем access_token, user_id.
                </p>
                <p>
                  <code>
                    REQUEST: <br>
                    <%= @incomplete_authorization_url + params[:code] %>
                  </code>
                </p>
                <%= link_to "Получить токен", pages_authorize_path(code: params[:code]), class: 'btn btn-primary' %>
              <% end %>
            <% elsif !@setting.vk_access_token.blank? and params[:communities].nil? and @setting.vk_community_selected_id.blank? %>
              <p>
                Мы завершили авторизацию - у нас есть access_token (user_token), действительный в течение 24 часов.
                Теперь с помощью него получаем список сообществ пользователя, где он админ. (Этот список получаем автоматически сразу после авторизации):
              </p>
              <p>
                <code>
                  REQUEST:<br>
                  <%= get_communities_list_url  %>
                </code>
              </p>
              <%= link_to "Получить список сообществ", pages_get_communities_list_path, class: 'btn btn-primary' %>

            <% elsif !params[:communities].nil? and JSON.parse(params[:communities])["response"]["count"] == 0 %>
              <p>У вас нет сообществ.</p>
              <a href="#", class="btn btn-primary">Создать в VK</a>

            <% elsif !params[:communities].nil? and JSON.parse(params[:communities])["response"]["count"] > 0 %>
              Выберите сообщество для настройки:
              <%= form_with url: pages_select_community_path do |form| %>
                <% JSON.parse(params[:communities])["response"]["items"].each do |community| %>
                  <%= form.radio_button :id, community %> <%= "ID: #{community["id"]} | NAME: #{community["name"]}" %><br />
                <% end %>
                <%= form.submit %>
              <% end %>

            <% elsif !@setting.vk_community_selected_id.blank? and !@setting.vk_access_token.blank? %>
                <p>Мы выбрали сообщество, которое будем настраивать: <code><%= @setting.vk_community_selected_id %></code>. Теперь задача - отправить настройки.</p>
                <p>Выбранное сообщество записано в настройках, если нужно протестировать процесс заново, очистите номер сообщества.</p>

                <p>Пример: отправка настроек для включения функционала магазина.</p>
                <p>
                  <code>
                    REQUEST1: <br>
                    <%= turn_on_market_request %> <br><br>
                    REQUEST2: <br>
                    <%= update_market_configs %>
                  </code>
                </p>

                <%= link_to "Отправить настройки 1", pages_configure_community1_path, class: 'btn btn-primary' %>
                <%= link_to "Отправить настройки 2", pages_configure_community2_path, class: 'btn btn-primary' %>

                <hr>

                <p>Отправляем продукт</p>
                <%= link_to "Отправить продукт", pages_add_product_path, class: 'btn btn-primary' %>
            <% end %>
        <% end %>

        <% if !params["access_token"].nil? %>
          HELLO WORLD!
        <% end %>
